<div class='header'>
    {{#if company_logo}}
        <img src="{{company_logo}}" alt="{{company_name}}" class="logo" style="max-height: 50px;">
    {{else}}
        <h1 class="logo">{{company_name}}</h1>
    {{/if}}
</div>
