<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
Hi {{expert_name}},

{{#is_round_internal}} Interview Joining link: https://app.barraiser.com/interview-landing/e/{{interview_id}} {{/is_round_internal}}
{{^is_round_internal}} Profile link: https://app.barraiser.com/profile {{/is_round_internal}}
Zoom passcode: 123456

Wishing you all the luck !

</body>
</html>
