Dear {{candidate_firstname}},

Your interview has been scheduled on {{candidate_start_datetime}}.
This interview will be taken by BarRaiser expert on a zoom video call. 

Interview link: {{meeting_link}}
Interview Passcode: 123456

<strong>What is this round about?</strong>
This is a machine round wherein you will given a problem to build a small webpage in your favourite framework.
Its advisable to come prepared with a setup  of your favourite IDE, language and framework so that maximum time could be spent on writing the actual business
logic.

For e.g.
    1. For frontend if you wish to develop in react JS, come prepared with your favourite IDE with hello world react application and some well known dependencies
       like redux, AXIOS, etc.</p>
    2. For backend if you with to develop in JAVA and spring boot come prepared with your favourite IDE with a hello world project in MAVEN or GRADLE and a local setup
       of the database.</p>

Wishing you all the luck!

{{> footer_partner.mustache}}
