Dear {{candidate_firstname}},

Your interview has been scheduled on {{candidate_start_datetime}} .
This interview will be taken by {{#is_round_internal}} {{expert_name}} {{/is_round_internal}} {{^is_round_internal}} a BarRaiser expert {{/is_round_internal}} on a zoom video call. 


Interview link: {{meeting_link}}
Zoom passcode: 123456

Wishing you all the luck!


{{> footer_partner.mustache}}
