Dear {{candidate_firstname}},

Your interview has been scheduled on {{candidate_start_datetime}}.
This interview will be taken by a BarRaiser expert on a zoom video call which will be recorded and hence, please read all the instructions given below:
<ol style="padding-left: 20px;">
1. Kindly login through a laptop and share your video<br/>
2. Share your screen and get started with solving the problem at hand<br/>
3. Ensure a stable internet & electricity connection</p>
</ol>
<strong>Interview Format:</strong>
1. Briefing of Problem statement (10-15 minutes): Problem statement will be shared with you, you can go through the problem statement and ask any doubts about the usecases and scope of the problem.
For the briefing please join : {{common_zoom_link}}

2.Post Problem briefing , kindly join the link mentioned below:
Interview link: {{meeting_link}}
Interview Passcode: 123456
<strong> NOTE: </strong>Upon joining the link kindly share your screen and get started with solving the problem at hand.

<strong>What is this round about?</strong>
This is a machine round wherein you will be given a problem to build a small webpage in your favourite framework.
Its advisable to come prepared with a setup  of your favourite IDE, language and framwork so that maximum time could be spent on writing the actual business
logic.

For e.g.
    1. For frontend if you wish to develop in react JS, come prepared with your favourite IDE with hello world react application and some well known dependencies
      like redux, AXIOS, etc.
    2. For backend if you with to develop in JAVA and spring boot come prepared with your favourite IDS with a hello world project in MAVEN or GRADLE and a local setup
      of data base.

Wishing you all the luck!

Regards,
Team BarRaiser
{{> footer_partner.mustache}}
