{{> header_partner.mustache}}
<p>Dear {{candidate_name}},</p>
<p>This is regarding your interview scheduled on {{interview_time}}. We request you to confirm your availability for the same on the link below: </p>
<p>Interview confirmation link:{{confirmation_link}}</p>
<br/>
<p>Regards,</p>
<p>BarRaiser Team</p>
{{> footer_BR.mustache}}
