{{> header_partner.mustache}}
    <p>Hi {{candidate_first_name}},</p>
    <p>The interview which is scheduled at {{interview_date_time}} has been cancelled by you. </p>
    <p>Reason: {{cancellation_reason}}</p>
    <p>Kindly reach out to us in case you want to reschedule the interview or if you have any queries. Our team will also try to reach out for next steps.</p>
  <p>Regards,</p>
  <p>
     Team BarRaiser
  </p>
{{> footer_partner.mustache}}

