{{> header_partner.mustache}}
    <p>Hi {{candidate_name}},</p>
    <p>Your upcoming interview scheduled for {{interview_time}}, has been confirmed.</p>
    <p>Wishing you all the luck !</p>
    <br/>
    <br/>
    <p>Regards,</p>
    <p>BarRaiser Team</p>
{{> footer_partner.mustache}}
