<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Your interview has been cancelled</title>
    <p>Hi {{expert_first_name}},</p>
    <p>We regret to inform you that the interview scheduled at {{interview_date_time}} is cancelled. </p>
    <p>Regards,</p>
    <p>
     Team BarRaiser
    </p>
    <br/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
