<div class="footer">
    <table>
        <tr>
            <td>
                <div class="icons">
                    <p>Follow us on</p>
                    <a href="https://www.facebook.com/raiser.bar" target="_blank">
                    <img src="https://cdn.buttercms.com/fcsc0dzOS3qSVg6OcRv5" height = "5" width = "25"/>
                    </a>
                    <a href="https://www.linkedin.com/company/raiserbar" target="_blank">
                    <img src="https://cdn.buttercms.com/ou5SecY3STeUtTlMpQW0" height = "5" width = "25"/>
                    </a>
                    <a href="https://twitter.com/raiser_bar" target="_blank">
                    <img src="https://cdn.buttercms.com/GsqUtoC6RcewEJ7TWAym" height = "5" width = "25"/>
                    </a>
                    <a href="https://www.instagram.com/raiser.bar" target="_blank">
                    <img src="https://cdn.buttercms.com/v71YDN6TT2O413nQkfa2" height = "5" width = "25"/>
                    </a>
                </div>
            </td>
            <td>
                <div>
                    <p class="copyright">2020 © BarRaiser. All rights reserved.</p>
                </div>
            </td>
        </tr>
    </table>
</div>

