<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{{subject}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{> styles.mustache}}
</head>
<body>
<div class="root">
<div class='header'>
    <div class='header'>
        {{#company_logo}}
            <img src="{{company_logo}}" alt="{{company_name}}" class="logo" style="max-height: 50px;"/>
        {{/company_logo}}
        {{^company_logo}}
            <h1 class="logo">{{company_name}}</h1>
        {{/company_logo}}
    </div>
</div>
    <div class="content">
