<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Your interview has been cancelled</title>
    <p>Hi {{candidate_name}},</p>
    <p>Your upcoming interview scheduled for {{interview_time}} has been cancelled.</p>
    <br/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{> styles.mustache}}
</head>
<body>
<div class="root">
    {{> header_BR.mustache}}
    <div class="content">
<br/>
<p>Regards,</p>
<p>BarRaiser Team</p>
    </div>
    {{> footer_BR.mustache}}
</div>

</body>
</html>
