<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Submission of Availability by {{userName}}</title>
    <p>Hi {{expertName}},</p>
    <p> We hope you are doing well.</p>
    <p>You have completed {{totalCompletedInterviews}} interviews from {{startTime}} to {{endTime}} and there were zero cancellations from your end.
    </p>

     <p>We at BarRaiser are glad to have an extremely professional and committed expert like you. Keep up the good work.
     </p>
     <p>Please revert at expert-feedback@barraiser.com for further information.</p>

    </p>
  <p>Regards,</p>
  <p>
     Team BarRaiser <br>
     +91-7239013727
  </p>
    <br/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

