**Interview Related Links**
* Expert Landing : https://app.barraiser.com/interview-landing/e/{{interviewId}}
* Feedback : https://app.barraiser.com/interview-feedback/{{interviewId}}

**Scheduling Info**
* Interviewer: {{firstName}} {{lastName}}
* Interviewer Profile: https://app.barraiser.com/profile/e/{{interviewerId}}
