**Interview Related Links**
* Candidate Landing : https://app.barraiser.com/interview-landing/c/{{interviewId}}
* Expert Landing : https://app.barraiser.com/interview-landing/e/{{interviewId}}
* Interview QC : https://app.barraiser.com/interview-qc/{{interviewId}}
* Feedback : https://app.barraiser.com/interview-feedback/{{interviewId}}
* Question Tagging : https://app.barraiser.com/question-tagging/{{interviewId}}
* Evaluation Link: https://app.barraiser.com/candidate-evaluation/{{evaluationId}}
* Interview Structure : {{interviewStructureLink}}

**Scheduling Info**
* Zoom Link: {{zoomLink}}
* Interviewer: {{firstName}} {{lastName}}
* Interviewer Profile: https://app.barraiser.com/profile/e/{{interviewerId}}
* Start Date : {{startDateTime}} (IST)
* End Date : {{endDateTime}} (IST);
