<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bad Data in JIRA provided</title>
</head>
<body>
<h1>Bad data in JIRA</h1>
<p>Possible causes:</p>
<p> Bad format of phone number, please make sure the phone number has one of the following formats:</p>
<ul>
    <li>+919538275444</li>
    <li>9538275444</li>
    <li>+91-9538275444</li>

</ul>
<div>
    <p>Jira Event Json</p>
    <code>
        {{exception}}}
    </code>
    <code>
        {{jiraEventJson}}
    </code>

</div>

</body>
</html>