<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Candidate has confirmed Interview</title>
    <p>Hi Team,</p>
    <p>This is regarding the interview of {{candidate_name}} scheduled on {{interview_time}}. The candidate has confirmed that he will attend the interview. </p>
  <p>Regards,</p>
  <p>
     Team BarRaiser
  </p>
    <br/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

