<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Candidate request to cancel Interview</title>
    <p>Hi Team,</p>
    <p>This is regarding the interview of {{candidate_first_name}}scheduled at {{interview_date_time}}. The candidate has requested to cancel the interview. </p>
    <p>Reason: {{cancellation_reason}}</p>
    <p>JIRA: {{jira_link}}</p>
    <p>Kindly contact the candidate with respect to the above , and take the needed steps.</p>
  <p>Regards,</p>
  <p>
     Team BarRaiser
  </p>
    <br/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

