<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>-</title>
</head>
<body>
<h1>Step failed for step function:</h1>
<div>
    <p>
        <b>Interview ID:</b>{{interview_id}}
    </p>
    <p>
        <b>Step name:</b>{{activity_name}}
    </p>

    <h3>Error Message</h3>
    <code>
        {{error_message}}
    </code>
</div>
</body>
</html>
