    <style type="text/css">
        /* import fonts */
        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

        /* CLIENT-SPECIFIC STYLES */
        body,
        table,
        td,
        a {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        table,
        td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        /* RESET STYLES */
        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }

        table {
            border-collapse: collapse !important;
        }

        body {
            height: 100% !important;
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;
            font-size: 16px !important;
            line-height: 18.75px;
        }

        html {
            box-sizing: border-box !important;
            height: 100%;
            width: 100%;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }


        /* iOS BLUE LINKS */
        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        /* GMAIL BLUE LINKS */
        u+#body a {
            color: inherit;
            text-decoration: none;
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            line-height: inherit;
        }

        /* SAMSUNG MAIL BLUE LINKS */
        #MessageViewBody a {
            color: inherit;
            text-decoration: none;
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            line-height: inherit;
        }

        /* Universal styles for links and stuff */
        a {
            color: #229efd !important;
            font-weight: bold;
        }

        a:hover {
            color: #003847;
            text-decoration: none;
        }

        a.button {
            text-decoration: none;
            background-color: #0898A9;
            border-radius: 4px;
            color: #ffffff !important;
            display: inline-block;
            font-weight: bold !important;
            text-align: center;
            width: 85.8px;
            height: 33px;
            -webkit-text-size-adjust: none !important;
            line-height: 33px !important;
        }

        a.button:hover {
            background-color: #003847 !important;
        }

        div.root {
            background-color: #F2F2F2;
            font-family: Roboto, sans-serif;
            margin: 0 auto;
            max-width: 600px;
            padding: 0px 24px;
        }

        div.header {
            height: 107px;
        }

        img.logo {
            margin: auto;
            display: block;
            padding-top: 40px;
        }
        h1.logo{
            text-align: center;
            padding-top: 50px;
            color: #0898A9;
        }

        h2 {
            font-size: 21px !important;
            line-height: 25px !important;
            margin: 0;
            padding: 0;
            color: #121212;
        }

        p {
            color: #606060;
            margin: 24px 0;
        }

        div.content {
            background-color: #ffffff;
            padding: 45px 42px 50px 27px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 6px;
            margin-bottom: 16px;
        }

        p.content {
            margin: 24px 0px;
        }

        div.icons p {
            margin: 11px 0;
            font-size: 14px;
            line-height: 16px;
        }

        div.icons {
            margin: 10px;
        }

        div.footer {
            text-align: center;
            color: #888888;
            padding-bottom: 40px;
        }

        table {
            width: -webkit-fill-available;
        }

        td>div>p.copyright {
            text-align: right;
            margin: 0;
            font-size: 14px;
            line-height: 16px;
        }


        /* Responsive styles */
        @media screen and (max-width: 600px) {
            body {
                font-size: 14px !important;
                line-height: 16px;
            }

            div.root {
                padding: 0px 13px;
            }

            h2 {
                font-size: 16px !important;
                line-height: 19px !important;
            }

            div.header {
                height: 91px;
            }

            div.content {
                padding: 31px 20px 25px 21px;
                margin: 0;
            }

            table tr td {
                text-align: center;
                display: block;
            }

            td>div>p.copyright {
                text-align: center;
                font-size: 12px;
                line-height: 14.06px;
                margin-bottom: 24px;
            }

            div.icons p {
                font-size: 12px;
                line-height: 14.06px;
            }
        }
    </style>

